name: storyzz
description: "A Flutter application for sharing stories with images and location."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.7
  flutter: ">=3.38.6"

dependencies:
  flutter:
    sdk: flutter

  # localization
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

  shared_preferences: ^2.5.4

  # state management
  provider: ^6.1.5

  # networking
  http: ^1.6.0
  http_parser: ^4.1.2

  # direct link
  url_launcher: ^6.3.2

  # UI
  flutter_native_splash: ^2.4.7
  readmore: ^3.0.0
  dropdown_button2: ^2.3.9
  amazing_icons: ^3.1.1

  # camera and image picker deps
  image_picker: ^1.2.1
  image_picker_for_web: ^3.1.1
  path: ^1.9.1
  camera: ^0.11.3
  image: ^4.7.2
  flutter_svg: ^2.2.3

  # location
  google_maps_flutter: ^2.14.2
  google_maps_flutter_web: ^0.5.14+2
  google_maps_flutter_android: ^2.19.1
  geolocator: ^14.0.2
  geocoding: ^4.0.0

  # code generator
  json_annotation: ^4.9.0
  freezed_annotation: ^3.1.0

  # environment
  flutter_dotenv: ^6.0.0
  universal_html: ^2.3.0

  # build variant
  package_info_plus: ^9.0.0

  pointer_interceptor: ^0.10.1+2

  go_router: ^17.1.0

  flutter_junitreport:
    git:
      url: https://github.com/waffiqaziz/flutter-junitreport.git
      ref: main
    version: 2.0.7-dev.2

executables:
  tojunit:

dev_dependencies:
  flutter_test:
    sdk: flutter

  integration_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

  # runner
  build_runner: ^2.11.1

  # code generator
  json_serializable: ^6.12.0
  freezed: ^3.2.5

  mocktail: ^1.0.4
  mocktail_image_network: ^1.2.0


# used for splash screen, setup for web and android
flutter_native_splash:
  color: "#ffffff"
  image: assets/icons/Icon-maskable-512.png
  color_dark: "#121212"
  image_dark: assets/icons/Icon-maskable-512.png

  android_12:
    image: assets/icons/Icon-maskable-512.png
    icon_background_color: "#ffffff"
    image_dark: assets/icons/Icon-maskable-512.png
    icon_background_color_dark: "#121212"

  web: true

# used for launcher icon
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icons/icon.png"
  min_sdk_android: 21
  web:
    generate: true
    image_path: "assets/icons/image.png"
    background_color: "#hexcode"
    theme_color: "#hexcode"

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
    - assets/icons/
    - assets/flag/
    - assets/.env

  fonts:
    - family: Nunito
      fonts:
        - asset: fonts/nunito/Nunito-Bold.ttf
          weight: 700
        - asset: fonts/nunito/Nunito-SemiBold.ttf
          weight: 600
        - asset: fonts/nunito/Nunito-Medium.ttf
          weight: 500
        - asset: fonts/nunito/Nunito-Regular.ttf
          weight: 400
        - asset: fonts/nunito/Nunito-Light.ttf
          weight: 300
        - asset: fonts/nunito/Nunito-ExtraLight.ttf
          weight: 200
